<h1>Sign in to Ruby Embassy</h1>

<p>Hi <%= @user.first_name.presence || "there" %>,</p>

<p>Click the link below to sign in to Ruby Embassy:</p>

<p><%= link_to "Sign in", @login_url %></p>

<p>This link will expire in 30 days. If you didn't request this, you can safely ignore this email.</p>
