<footer class="max-w-10xl mx-auto px-8 py-10">
  <div class="flex flex-col md:flex-row md:justify-between md:items-center">
    <div class="mt-4">
      <p>Blue Ridge Ruby is a registered 501c3 Non-Profit</p>
      <div class="flex gap-x-4 items-center mt-2">
        <a href="https://blueridgeruby.com/code-of-conduct" class="text-blue underline">Code of Conduct</a>
        <a href="https://blueridgeruby.com/sponsorship" class="text-blue underline">Sponsorship</a>
        <a href="mailto:team@blueridgeruby.com" class="text-blue underline">Contact</a>
      </div>
    </div>

    <div class="mt-4 md:text-right">
      <div class="flex gap-x-4 items-center">
        <a href="https://www.rubyevents.org/events/series/blue-ridge-ruby" class="text-blue" target="_blank" aria-label="Ruby Events">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="h-5 w-5">
            <path d="M6.92893 5.79355C6.92893 5.60133 7.13611 5.48117 7.30185 5.57728L9.3936 6.79025C9.55934 6.88636 9.55934 7.12664 9.3936 7.22275L7.30185 8.43572C7.13611 8.53183 6.92894 8.41171 6.92893 8.21949V5.79355Z"></path>
            <path d="M11.9918 2C12.4807 2 12.9501 2.19289 13.2988 2.53711L15.7212 4.92834C16.0841 5.28657 16.094 5.8709 15.7434 6.24132L8.67571 13.7088C8.30819 14.0971 7.69179 14.0971 7.32427 13.7088L0.256596 6.24132C-0.0939808 5.87091 -0.0841183 5.28657 0.278781 4.92834L2.70118 2.53711C3.04988 2.19289 3.51926 2 4.00818 2H11.9918ZM8.00222 3.90398C6.31166 3.90399 4.94118 5.28047 4.94118 6.97845C4.94118 8.67642 6.31166 10.0529 8.00222 10.0529C9.69279 10.0529 11.0633 8.67642 11.0633 6.97845C11.0633 5.28047 9.69279 3.90399 8.00222 3.90398Z"></path>
          </svg>
        </a>

        <a href="https://twitter.com/blueridgeruby" class="text-blue" target="_blank" aria-label="Twitter">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="h-5 w-5">
            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
          </svg>
        </a>

        <a href="https://bsky.app/profile/blueridgeruby.com" class="text-blue" target="_blank" aria-label="Bluesky">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="h-5 w-5">
            <path d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948"/>
          </svg>
        </a>

        <a href="https://ruby.social/@blueridgeruby" class="text-blue" target="_blank" aria-label="Mastodon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="h-5 w-5">
            <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"></path>
          </svg>
        </a>

        <a href="https://www.linkedin.com/company/blueridgeruby/" class="text-blue" target="_blank" aria-label="LinkedIn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-5 w-5" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
          </svg>
        </a>

        <a href="https://www.youtube.com/@BlueRidgeRuby/" class="text-blue" target="_blank" aria-label="YouTube">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512" fill="currentColor">
            <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z"/>
          </svg>
        </a>
      </div>
      <div class="flex gap-x-4 items-center mt-2">
        <span>Past years</span>
        <a href="https://blueridgeruby.com/2024" class="text-blue underline">2024</a>
        <a href="https://blueridgeruby.com/2023" class="text-blue underline">2023</a>
      </div>
    </div>
  </div>
</footer>
