<%# locals: (number:, questions:, application: nil) -%>
<section class="embassy-section">
  <header class="embassy-section__header">
    <span class="embassy-section__number">Section <%= number.to_s.rjust(2, "0") %></span>
    <h2 class="embassy-section__title"><%= embassy_section_title(number) %></h2>
  </header>

  <p class="embassy-section__instructions"><%= embassy_section_instructions(number) %></p>

  <div class="embassy-section__questions">
    <% questions.each do |q| %>
      <%= render "question", question: q, answer: application&.answer_for(q) %>
    <% end %>
  </div>
</section>
